*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/
/.idea/gradle.xml
/.idea/misc.xml
/.idea/codeStyles/
/.idea/vcs.xml
/.idea/inspectionProfiles/
/.idea/dictionaries/
